body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

/* global styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* accessible hiding */
.visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);

  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* main containers */
.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* general button styles */
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
  cursor: pointer;
}

.button--dark {
  background-color: #766357;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button--dark:hover,
.button--dark:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button--dark:active {
  background-color: #503e33;
}

/* general inputs styles */
.input {
  padding: 6px 13px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.input:hover {
  background-color: #ebebeb;
}

.input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: none;
}

/* main menu */
.main-menu {
  position: relative;

  background-color: #ffffff;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 140px / 2);

  width: 140px;
  height: 72px;
}

.main-header__logo[href]:hover {
  transform: scale(1.2);
  transform-origin: top;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 0;

  list-style: none;
}

.main-menu__item {
  width: 240px;
}

.main-menu__item:nth-child(4n+3) {
  margin-left: auto;
  width: 241px;
}

.main-menu__item:nth-child(4n+1),
.main-menu__item:nth-child(4n+2) {
  padding-left: 72px;

  text-align: left;
}

.main-menu__item:nth-child(4n+3),
.main-menu__item:nth-child(4n+4) {
  padding-right: 72px;

  text-align: right;
}

.main-menu__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #81b3d2;
}

.main-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu__link--current,
.main-menu__link--current:hover,
.main-menu__link--current:focus,
.main-menu__link--current:active {
  color: #766357;
}

/* greeting section */
.greeting {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 75px;
}

.greeting__slider-btn {
  position: absolute;
  top: 410px;

  width: 510px;
  height: 100px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;

  transition: opacity 0.6s;
}

.greeting__slider-btn--prev {
  left: 100px;

  background-image: url("../img/arrow-prev.svg");

  transform: rotate(-90deg);
  transform-origin: left bottom;
}

.greeting__slider-btn--next {
  right: 100px;

  background-image: url("../img/arrow-next.svg");

  transform: rotate(90deg);
  transform-origin: right bottom;
}

.greeting__slider-btn:hover,
.greeting__slider-btn:focus {
  opacity: 0.7;
  outline: none;
}

.greeting__slider-btn:active {
  opacity: 0.4;

  transition: none;
}

.greeting__slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 510px;
  overflow: hidden;

  list-style: none;

  background-color: #ccc6c5;
}

.greeting__slide {
  position: absolute;
  top: -83px;
  left: 0;

  width: 100%;

  visibility: hidden;
  opacity: 0;

  transition: all 1.5s;
}

.greeting__slide--current {
  visibility: visible;
  opacity: 1;
}

.greeting__welcome-text {
  margin-bottom: 80px;
}

.greeting__wrapper {
  position: relative;

  padding: 60px 50px 50px;
  width: 100%;

  text-align: center;

  background-color: #ffffff;
}

.greeting__title {
  margin: 0 auto 28px;
  width: 450px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.greeting__text {
  margin: 0;

  line-height: 26px;
}

.greeting__wrapper::before, /* slide mask */
.greeting__wrapper::after {
  position: absolute;
  top: -58px;
  left: 50%;

  content: "";
  width: 0;
  height: 0;

  border-top: 58px solid transparent;
  border-bottom: none;
}

.greeting__wrapper::before {
  left: 250px;

  border-right: 350px solid #ffffff;
  border-left: 350px solid #ffffff;
}

.greeting__wrapper::after {
  left: 0;

  border-right: 600px solid #ffffff;
  border-left: 600px solid #ffffff;
}
