body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/* global styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* accessible hiding */
.visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);

  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* main containers */
.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* general button styles */
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
  cursor: pointer;
}

.button--dark {
  background-color: #766357;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button--dark:hover,
.button--dark:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button--dark:active {
  background-color: #503e33;
}

/* general inputs styles */
.input {
  padding: 6px 13px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.input:hover {
  background-color: #ebebeb;
}

.input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: none;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
}

.input::-moz-placeholder { /* Firefox 19+ */
  color: #888888;
  opacity: 1;
}

.input:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
}

.input::-ms-input-placeholder { /* Edge */
  color: #888888;
}

/* main menu */
.main-menu {
  position: relative;

  background-color: #ffffff;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 140px / 2);

  width: 140px;
  height: 72px;
}

.main-header__logo[href]:hover,
.main-header__logo[href]:focus {
  transform: scale(1.2);
  transform-origin: top;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 0;

  list-style: none;
}

.main-menu__item {
  width: 240px;
}

.main-menu__item:nth-child(4n+3) {
  margin-left: auto;
  width: 241px;
}

.main-menu__item:nth-child(4n+1),
.main-menu__item:nth-child(4n+2) {
  padding-left: 72px;

  text-align: left;
}

.main-menu__item:nth-child(4n+3),
.main-menu__item:nth-child(4n+4) {
  padding-right: 72px;

  text-align: right;
}

.main-menu__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #81b3d2;
}

.main-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu__link--current,
.main-menu__link--current:hover,
.main-menu__link--current:focus,
.main-menu__link--current:active {
  color: #766357;
}

/* greeting section */
.greeting {
  position: relative;

  padding-top: 75px;
}

.greeting__slider-btn {
  position: absolute;
  top: 0;

  padding: 0;
  width: 100px;
  height: 710px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0;
  cursor: pointer;

  transition: opacity 0.6s;
}

.greeting__slider-btn--prev {
  left: 0;
}

.greeting__slider-btn--next {
  right: 0;
}

.greeting__slider-btn::after {
  position: absolute;
  top: 210px;
  left: 10px;

  width: 80px;
  height: 80px;
  content: "";
}

.greeting__slider-btn--prev::after {
  background-image: url("../img/arrow-prev.svg");

  transform: rotate(-90deg);
}

.greeting__slider-btn--next::after {
  background-image: url("../img/arrow-next.svg");

  transform: rotate(90deg);
}

.greeting__slider-btn:hover,
.greeting__slider-btn:focus {
  opacity: 0.7;
  outline: none;
}

.greeting__slider-btn:active {
  opacity: 0.3;

  transition: none;
}

.greeting__slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 710px;

  list-style: none;

  background-color: #ccc6c5;
}

.greeting__slide {
  position: absolute;
  top: -83px;
  left: 0;

  width: 100%;

  visibility: hidden;
  opacity: 0;

  transition: all 1.5s;
}

.greeting__slide--current {
  visibility: visible;
  opacity: 1;
}

.greeting__welcome-text {
  display: block;
  margin: 0 auto 80px;
}

.greeting__wrapper {
  position: relative;

  padding: 60px 50px 50px;
  width: 100%;

  text-align: center;

  background-color: #ffffff;
}

.greeting__title {
  margin: 0 auto 28px;
  width: 450px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.greeting__text {
  margin: 0;

  line-height: 26px;
}

.greeting__wrapper::before, /* slide mask */
.greeting__wrapper::after {
  position: absolute;
  top: -58px;
  left: 50%;

  content: "";
  width: 0;
  height: 0;

  border-top: 58px solid transparent;
  border-bottom: none;
}

.greeting__wrapper::before {
  left: 250px;

  border-right: 350px solid #ffffff;
  border-left: 350px solid #ffffff;
}

.greeting__wrapper::after {
  left: 0;

  border-right: 600px solid #ffffff;
  border-left: 600px solid #ffffff;
}

/* advantages section */
.advantages__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__picture {
  width: 800px;
}

.advantages__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  padding: 47px 60px 60px;
  width: 400px;
  min-height: 256px;

  text-align: center;

  background-color: #eeeeee;
}

.advantages__item--illustrated {
  color: #ffffff;

  background-color: #81b3d2;
}

.advantages__number {
  order: 2;

  margin-bottom: 20px;
}

.advantages__title {
  order: 1;

  margin: 0;
  margin-bottom: 24px;
  width: 160px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.advantages__item--illustrated .advantages__title  {
  color: #ffffff;
}

.advantages__description {
  order: 3;

  margin: 0;
  width: 280px;
}

.services {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;

  background-color: #ffffff;
}

.services__item {
  position: relative;

  padding: 160px 55px 82px;
  width: 400px;

  text-align: center;
}

.services__item::before {
  position: absolute;
  top: 56px;
  left: 160px;

  width: 80px;
  height: 80px;
  content: "";

  background-repeat: no-repeat;
}

.services__item--accomodation::before {
  background-image: url("../img/house-icon.svg");
  background-position: 50% 4px;
}

.services__item--food::before {
  background-image: url("../img/burger-icon.svg");
  background-position: 50% 5px;
}

.services__item--souvenirs::before {
  background-image: url("../img/souvenir-icon.svg");
  background-position: 50% 0;
}

.services__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.services__description {
  margin: 0;
}

/* hotel search */
.hotel-search {
  position: relative;

  padding-top: 50px;

  text-align: center;

  background-color: #ffffff;
}

.hotel-search__lead {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-search__invitation {
  margin: 0;
  margin-bottom: 46px;

  line-height: 24px;
}

.hotel-search__button {
  padding: 30px;
  width: 570px;

  font-size: 21px;
  line-height: 26px;
}

.hotel-search__wrapper {
  position: relative;

  margin-bottom: -120px;
  overflow: hidden;
}

.hotel-search__map {
  width: 100%;
  height: 593px;

  background-color: #ccdeaa;
  background-image: url("../img/map.jpg");
  background-size: cover;
}

.search-form {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 315px;

  display: flex;
  flex-wrap: wrap;

  padding: 55px;
  width: 570px;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form__item {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 30px;
  width: 100%
}

.search-form__item--half {
  width: 50%;
}

.search-form__item--half:nth-of-type(even) .search-form__label {
  padding-right: 25px;
  padding-left: 10px;

  text-align: right;
}

.search-form__input-text,
.search-form__input-num,
.search-form__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-form__label {
  flex-grow: 1;

  padding-right: 15px;

  text-align: left;
  letter-spacing: 0.02em;
}

.search-form__input-text {
  margin-left: auto;
  padding-right: 40px;
  width: 345px;
}

.search-form__calendar-btn {
  position: absolute;
  top: 0;
  right: 0;

  padding: 8px;
  width: 38px;
  height: 38px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-form__calendar-icon {
  fill: #cacaca;
}

.search-form__calendar-btn:hover .search-form__calendar-icon,
.search-form__calendar-btn:focus .search-form__calendar-icon {
  fill: #000000;
}

.search-form__calendar-btn:active .search-form__calendar-icon {
  fill: #81b3d2;
}

.search-form__input-num {
  margin-left: auto;
  padding-right: 38px;
  padding-left: 38px;
  width: 114px;

  text-align: center;
}

.search-form__input-num::-webkit-outer-spin-button,
.search-form__input-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-form__input-num {
  -moz-appearance: textfield;
}

.search-form__input-num::-ms-clear {
  display: none;
}

.search-form__counter-btn {
  position: absolute;
  top: 0;

  padding: 0;
  width: 38px;
  height: 38px;

  text-align: center;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-form__counter-btn--minus {
  right: 76px;
}

.search-form__counter-btn--plus {
  right: 0;
}

.search-form__counter-icon {
  stroke: #aaaaaa;
}

.search-form__counter-btn:hover .search-form__counter-icon,
.search-form__counter-btn:focus .search-form__counter-icon {
  stroke: #000000;
}

.search-form__counter-btn:active .search-form__counter-icon {
  stroke: #81b3d2;
}

.search-form__submit-btn {
  margin-top: 24px;
  padding: 16px;
  width: 100%;

  font-size: 21px;
  line-height: 26px;
}

/* main footer */
.main-footer {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  padding: 30px 0px;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer--inner {
  border-top: 1px solid #e6e6e6;
}

.main-footer__item {
  flex-grow: 0;
  flex-shrink: 0;

  margin: 0;
  padding: 0 15px;
  width: 400px;

  text-align: center;
}

.main-footer__hashtags {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}

.main-footer__social-item {
  margin: 6px 3px;
}

.main-footer__social-link {
  position: relative;

  display: block;
  padding: 5px;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.main-footer__social-link::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 48px;
  content: "";

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer__social-link--tw::after {
  background-image: url("../img/tw-icon.svg");
}

.main-footer__social-link--fb::after {
  background-image: url("../img/fb-icon.svg");
}

.main-footer__social-link--yt::after {
  background-image: url("../img/yt-icon.svg");
}

.main-footer__social-link:hover,
.main-footer__social-link:focus {
  background-color: #669ec0;
}

.main-footer__social-link:active {
  background-color: #5496bd;
}

.main-footer__social-link:active::after {
  opacity: 0.3;
}

.main-footer__copyright {
  display: flex;
  align-items: center;

  line-height: 26px;
  color: #000000;
}

.main-footer__copyright-text {
  margin-right: 8px;
  margin-left: auto;

  text-align: left;
}

.main-footer__copyright-link {
  margin-right: auto;
  width: 113px;
  height: 39px;
}

.main-footer__copyright-logo {
  fill: #231f20;
}

.main-footer__copyright-link:hover .main-footer__copyright-logo,
.main-footer__copyright-link:focus .main-footer__copyright-logo {
  fill: #81b3d2;
}

.main-footer__copyright-link:active .main-footer__copyright-logo {
  fill: #bdbbbc;
}

/* inner container */
.inner-container {
  padding-right: 72px;
  padding-left: 72px;
}

/* filters */
.filters {
  padding-top: 27px;

  background-color: #69869e;
  background-image: url("../img/filter-bg.jpg");
  background-size: cover;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;
}

.filters-form__filter {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  width: 225px;

  border: none;
}

.filters-form__filter:last-of-type {
  margin-right: auto;
}

.filters-form__filter--price {
  margin-bottom: 0;
  width: 318px;
}

.filters-form__legend {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.filters-form__legend--price {
  margin-bottom: 10px;
}

.filters-form__filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters-form__option {
  position: relative;

  margin-bottom: 23px;
  padding:1px 0 1px 40px;
}

.filters-form__option:last-child {
  margin-bottom: 0;
}

.filters-form__label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

input[type="checkbox"] + .filters-form__label::before,
input[type="radio"] + .filters-form__label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;
  content: "";

  background-repeat: no-repeat;
  background-position: left top;
}

input[type="checkbox"] + .filters-form__label::before {
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked + .filters-form__label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:disabled + .filters-form__label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}

input[type="checkbox"]:checked:disabled + .filters-form__label::before {
  width: 27px;

  background-image: url("../img/checkbox-on-dis.svg");
}

input[type="radio"] + .filters-form__label::before {
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked + .filters-form__label::before {
  background-image: url("../img/radio-on.svg");
}

input[type="radio"]:disabled + .filters-form__label::before {
  background-image: url("../img/radio-off-dis.svg");
}

input[type="radio"]:checked:disabled + .filters-form__label::before {
  background-image: url("../img/radio-on-dis.svg");
}

input:focus + .filters-form__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-form__price-inputs {
  display: flex;

  margin-bottom: 10px;
  width: 100%;

  border: 2px solid #ffffff;
}

.filters-form__price-cell {
  position: relative;

  width: 50%;

  text-align: center;
  cursor: pointer;
}

.filters-form__price-cell:first-of-type::after {
  position: absolute;
  top: 5px;
  right: -2px;

  width: 2px;
  height: 22px;
  content: "";

  background-color: #ffffff;
}

.filters-form__price-input {
  height: 32px;
  width: 40px;

  font: inherit;
  color: inherit;

  border: none;
  background-color: transparent;
}

.filters-form__price-input::-webkit-outer-spin-button,
.filters-form__price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filters-form__price-input {
  -moz-appearance: textfield;
}

.filters-form__price-input::-ms-clear {
  display: none;
}

.slider-contoller {
  position: relative;

  margin-bottom: 22px;
  padding: 10px;
  width: 100%;
  height: 22px;
}

.slider-contoller__scale {
  width: 100%;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.slider-contoller__current-range {
  margin-left: 0;
  margin-right: 45px;
  height: 2px;

  background-color: #f8f7f4;
}

.slider-contoller__grip {
  position: absolute;
  top: 1px;

  width: 20px;
  height: 20px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 0 0 #ababab;
  cursor: pointer;
}

.slider-contoller__grip--min {
  left: 0;
}

.slider-contoller__grip--max {
  left: 252px;
}

.slider-contoller__grip:hover,
.slider-contoller__grip:active {
  top: 0;

  width: 22px;
  height: 22px;

  border-width: 9px;
  box-shadow: 0 3px 0 0 #ababab;

  transform: translateX(-1px);
}

.filters-form__button {
  display: block;
  margin: 0 auto 30px auto;
  padding: 6px 35px;

  font-weight: 400;

  border: 2px solid #ffffff;
  background-color: transparent;
}

.filters-form__button:hover,
.filters-form__button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* hotels sort */
.hotels-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e6e6e6;
}

.hotels-sort__found {
  padding-right: 15px;
  width: 164px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-sort__title,
.hotels-sort__methods-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotels-sort__title {
  margin: 0;
  margin-right: 38px;
  width: 75px;

  color: #000000;
}

.hotels-sort__methods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-right: 30px;
  width: 740px;

  list-style: none;
}

.hotels-sort__methods-item {
  margin-right: 33px;
}

.hotels-sort__methods-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.hotels-sort__methods-link:hover,
.hotels-sort__methods-link:focus {
  color: #81b3d2;
}

.hotels-sort__methods-link:active {
  color: #000000;
  border-bottom: none;
}

.hotels-sort__methods-link--current,
.hotels-sort__methods-link--current:hover,
.hotels-sort__methods-link--current:focus,
.hotels-sort__methods-link--current:active {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-sort__order {
  margin-left: auto;
}

.hotels-sort__order-link {
  position: relative;

  display: inline-block;
  margin-right: 7px;
  padding: 2px;
  width: 12px;
  height: 11px;

  vertical-align: baseline;

  /* background-color: rgba(0, 0, 0, 0.1); */
}

.hotels-sort__order-link:last-of-type {
  margin-right: 0;
}

.hotels-sort__order-link::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;
  content: "";

  border-top: 0 solid transparent;
  border-right: 6px solid transparent;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #cacaca;
  border-left: 6px solid transparent;
}

.hotels-sort__order-link--decrease::after {
  transform: rotate(180deg);
}

.hotels-sort__order-link:hover::after,
.hotels-sort__order-link:focus::after {
  border-bottom-color: #000000;
}

.hotels-sort__order-link:active::after {
  border-bottom-color: #81b3d2;
}

.hotels-sort__order-link--current::after,
.hotels-sort__order-link--current:hover::after,
.hotels-sort__order-link--current:focus::after,
.hotels-sort__order-link--current:active::after {
  border-bottom-color: #81b3d2;
}
